body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

img {
    width: 48px;
    height: 48px;
}